body{ 
    background-color:#8bc2dc;
}
   
.title{
    color: white;
    text-align: center;
    font-family:"Press Start 2P", system-ui;
    font-size: 30px;
    padding-top: 50px;
}

.containerFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    align-items: center;
}

.btn{
        margin-top:70px;
        padding: 10px 20px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background-color: darkorange;
        color: white;
        cursor: pointer;
        font-family: "Bangers", system-ui; 

    
}

.btn:disabled {
        background-color: gray;
        color: darkgray;
        cursor: not-allowed;
}

.btn-salir{
        margin-top:30px;
        padding: 10px 20px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background-color: red;
        color: white;
        cursor: pointer;
        font-family: "Bangers", system-ui; 
}
.btn-iniciar{
    margin-top:10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
    color: white;
    cursor: pointer;
    font-family: "Bangers", system-ui; 


}

.btn-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruccion-style{
    text-align: center;
    margin-top: 100px;
}


.label-txt-container{
    text-align: center;
    margin-top: 100px;
}



.textfield-style{
    border-radius: 4px;
    padding: 10px;
    margin-top:10px;
    font-size: 16px;
    width: 25%; /* Ajusta el ancho al 100% del contenedor */
    box-sizing: border-box;
}

.imagen-container{
    margin-top: 70px;
    text-align: center;
}


.puntuacion-style{
    margin-top: 50px;
    text-align: center;
}

.table-container{
    padding: 20px;
    margin-left: 450px;
   
}

.table-style{
    padding: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
    color: white;
    font-family: "Press Start 2P", system-ui; 
    text-align: center;
}

.table-style thead th {
    color: #333;
    border-bottom: 1px solid white;
}

.table-style th, .table-style td {
    padding: 10px 12px;
    
}